$pageguide-background-color: white;
$pageguide-border-color: #ccc;
$pageguide-color: #282828;
$pageguide-accent-color: #ff9933;

$spacing-default: 16px;
$spacing-small: $spacing-default / 2;
$spacing-large: $spacing-default * 2;

#pageguide {
  display: none;
  background: $pageguide-background-color;
  border: 1px solid $pageguide-border-color;
  color: $pageguide-color;
  position: absolute;
  top: 5px;
  left: 5px;
  padding: $spacing-default;
  border-radius: 4px;
  width: 500px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);

  .header {
    padding: $spacing-default 0;
    border-bottom: 1px solid $pageguide-border-color;
    h1 {
      margin: 0;
      display: flex;
      font-size: 18px;
      line-height: 18px;
    }
    #pageguide-title {
      flex: 1;
    }
    #pageguide-counter {
      color: lighten($pageguide-color, 33%);
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
    }
  }
  .body {
    padding: $spacing-default 0;

    p {
      margin: 0 0 $spacing-small 0;
    }
  }
  .action {
    padding: $spacing-default 0 0;
    border-top: 1px solid $pageguide-border-color;
    display: flex;
    justify-content: space-between;
  }

  .pageguide-btn-group {
    .pageguide-btn {
      border-radius: 0;
      border-right: 0px solid transparent;

      &:first-child {
        border-radius: 50% 0 0 50%;
      }
      &:last-child {
        border-radius: 0 50% 50% 0;
        border-right: 1px solid $pageguide-border-color;
      }
    }
  }

  &.top,
  &.top-left,
  &.top-right {
    border-radius: 4px 4px 0 0;
    border-bottom: 5px solid $pageguide-accent-color;

    &:after {
      content: '';
      position: absolute;
      border: $spacing-default solid transparent;
      border-top-color: $pageguide-accent-color;
      margin: 0;
      bottom: - ($spacing-default * 2) - 5px;
    }
  }
  &.top:after {
    left: 50%;    
    margin-left: -$spacing-default;
  }
  &.top-left:after {
    left: 0;
  }
  &.top-right:after {
    right: 0;
  }

  &.bottom,
  &.bottom-left,
  &.bottom-right {
    border-radius: 0 0 4px 4px;
    border-top: 5px solid $pageguide-accent-color;

    &:after {
      content: '';
      position: absolute;
      border: $spacing-default solid transparent;
      border-bottom-color: $pageguide-accent-color;
      margin: 0;
      top: - ($spacing-default * 2) - 5px;
    }
  }
  &.bottom:after {
    left: 50%;    
    margin-left: -$spacing-default;
  }
  &.bottom-left:after {
    left: 0;
  }
  &.bottom-right:after {
    right: 0;
  }

  &.left,
  &.left-top,
  &.left-bottom {
    border-radius: 4px 0 0 4px;
    border-right: 5px solid $pageguide-accent-color;

    &:after {
      content: '';
      position: absolute;
      border: $spacing-default solid transparent;
      border-left-color: $pageguide-accent-color;
      margin: 0;
      right: - ($spacing-default * 2) - 5px;
    }
  }
  &.left:after {
    top: 50%;
    margin-top: -$spacing-default;
  }
  &.left-top:after {
    top: 0;
  }
  &.left-bottom:after {
    bottom: 0;
  }

  &.right,
  &.right-top,
  &.right-bottom {
    border-radius: 0 4px 4px 0;
    border-left: 5px solid $pageguide-accent-color;

    &:after {
      content: '';
      position: absolute;
      border: $spacing-default solid transparent;
      border-right-color: $pageguide-accent-color;
      margin: 0;
      left: - ($spacing-default * 2) - 5px;
    }
  }
  &.right:after {
    top: 50%;
    margin-top: -$spacing-default;
  }
  &.right-top:after {
    top: 0;
  }
  &.right-bottom:after {
    bottom: 0;
  }
}
.pageguide-btn {
    display: inline-block;
    border: 1px solid $pageguide-border-color;
    color: $pageguide-border-color;
    background: white;
    padding: 2px 6px;

    border-radius: 50%;
    cursor: pointer;

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);

    &:hover,
    &:focus {
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);
    }
  }

#pageguide-start {
  position: fixed;
  top: $spacing-default;
  right: $spacing-default;

  &:hover:before {
    content: attr(data-title);
    position: absolute;
    right: 14px;
    bottom: 0;
    padding: 2px $spacing-large 2px 6px;
    border-bottom: 1px solid $pageguide-border-color;
  }
}
canvas#pageguide-mask {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}